.body{

    border:1px solid aqua;
    margin: 50px;
}
.buttonGroup{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.title{
    width: 100%;
    margin-left: 5px;
}

