<h2>Por región: </h2>
<hr>

<h5>Selecciona la región</h5>

<div class="row">
    <div class="col">
        <button
        #valueRegion
        name={{region}}
        *ngFor="let region of regiones" 
        class="btn btn-outline-primary m-1"
        (click)="activarRegion(valueRegion.name)"
        
         >
        {{region | titlecase}}</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-4 ">
        <app-pais-tabla [paises]="paisesPorRegiones"></app-pais-tabla>


    </div>
</div>
<!-- <ul *ngFor="let pais of paisesPorRegiones;">
    <li><b>Nombre: </b>{{ pais.name }}</li>
    <li><b>Población: </b>{{ pais.population |number}}</li>
    <li><b>Idiomas:</b></li>
    <ul>
    <li>{{ pais.languages[0].name }}</li>
    <li *ngIf="pais.languages[1]">{{ pais.languages[1].name }}</li>
    <li *ngIf="pais.languages[2]">{{ pais.languages[2].name }}</li>
    <li *ngIf="pais.languages[3]">{{ pais.languages[3].name }}</li>
    <li *ngIf="pais.languages[4]">{{ pais.languages[4].name }}</li>
</ul>
    <li><b>Bandera: </b><img [src]="pais.flag" alt="bandera" width="50px"></li>
</ul> -->