
<div fxLayout="column" fxFlex="30"
>
<mat-form-field>
    <mat-label>
        Nombre de usuario
    </mat-label>
    <input matInput 
    type="text"
    name="name"
    [(ngModel)]="user.usuario"
    >
</mat-form-field>


<mat-form-field>
    <mat-label>
        Contraseña
    </mat-label>
    <input matInput 
    type="password"
    name="passwordx1"
    [(ngModel)]="passwordx1"
    >
    </mat-form-field>
    <mat-form-field>
        <mat-label>
            Confirmar contraseña
        </mat-label>
        <input matInput 
        type="password"
        name="passwordx2"
        [(ngModel)]="user.password"
        (blur)="checkPassword()"
        >
        </mat-form-field>
        <p class="PasswordFalse" *ngIf="!isPasswordTrue">Contraseña incorrecta</p>


<mat-form-field>
    <mat-label>
        Correo
    </mat-label>
    <input matInput 
    type="email"
    name="email"
    [(ngModel)]="user.correo"
    >
    
    </mat-form-field>
      <section>
      <mat-checkbox [(ngModel)]="user.suscrito"
      name="suscrito">
        Enviarme ofertas promocionales</mat-checkbox>
    </section>
    <br>

  <mat-form-field appearance="fill">
  <mat-label>Pais</mat-label>
  <select matNativeControl
  [(ngModel)]="countrySelected"
  (blur)="findCities()"
  >
    <option *ngFor="let countries of countries" 
    >{{countries.pais}}</option>

  </select>
</mat-form-field>



<mat-form-field appearance="fill"
*ngIf="countrySelected"
>
    <mat-label>Ciudad</mat-label>
    <select matNativeControl
    name="cities"
    [(ngModel)]="user.ciudad"
    >
      <option *ngFor="let cities of citiesList" 
      >{{cities}}</option>
    </select>
  </mat-form-field>



            <button mat-raised-button color="warn"
            class="button"
            *ngIf="isPasswordTrue"
            (click)="submit()"
            >
            Guardar
            <mat-icon>add</mat-icon>
                
            </button>

</div>
                     
                        <br>

                        <div fxFlex="full">
                 <app-list (userForModify)="modifyUser($event)" [users]="users"></app-list>


                </div>