.container{
    height: 220px;
    width: 100px;
    background-color: black;
    margin-left: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}
.ledColor{
    height: 65px;
    width: 65px;
    background-color: rgba(80, 80, 80, 0.848);
    border-radius: 50px;
    margin: auto auto;
}
.red{
    background-color: red;
    box-shadow: 0px 0px 30px 10px red;
}
.yellow{
    background-color: yellow;
    box-shadow: 0px 0px 30px 10px yellow;
}
.green{
    background-color: green;
    box-shadow: 0px 0px 30px 10px green;
}